<!DOCTYPE html>
<html>
<head>
	<title>reg confirm</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body align="center">
	<h1> Registration complete..</h1>  
    <a href="/login">LOGIN</a>|
	<a href="/">back to HOME page</a>
	
	
	

</body>
</html>