<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<h1> Welcome home, COMPUTER WORLD</h1>  
	<a href="/">HOME</a> |
	<a href="/registration">REGISTRATION</a> |
	<a href="/login">LOGIN</a>
	

</body>
</html>