<!DOCTYPE html>
<html>
<head>
	<title>Add product</title>
</head>
<body>
	<h1> Add Product</h1>  
	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

	<form method="post">
	<table width="300px" >
		<tr>
			<td width="35%">product Name:</td>
			<td width="2%">:</td>
			<td><input type="text" name="pname"></td>
		</tr>
		
		<tr>
			<td>Brand</td>
			<td width="2%">:</td>
			<td><input type="text" name="brand"></td>
		</tr>
        <tr>
			<td>RAM</td>
			<td width="2%">:</td>
			<td><input type="text" name="ram"></td>
		</tr>
		<tr>
			<td>Storage</td>
			<td width="2%">:</td>
			<td><input type="text" name="storage"></td>
		</tr>
		<tr>
			<td>Monitor</td>
			<td width="2%">:</td>
			<td><input type="text" name="monitor"></td>
		</tr>
		<tr>
			<td>Disk-type</td>
			<td width="2%">:</td>
			<td><input type="text" name="disktype"></td>
		</tr>
		<tr>
			<td>Price</td>
			<td width="2%">:</td>
			<td><input type="text" name="price"></td>
		</tr>
		
        <tr>
			<td></td>
			<td></td>
			<td><input type="submit" name="save" value="Save"></td>
		</tr>
	</table>
	</form>
</body>
</html>