<!DOCTYPE html>
<html>
<head>
	<title>finish</title>
	
</head>
<body>
	<h1> THANK YOU SIR.....</h1>  
	<a href="/ustart">BACK</a> |
	
	<input type="submit" name="save" value="Save">
	

</body>
</html>